body {
  background-color: hsl(216deg, 12%, 8%);
  font-family: "Overpass", sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 20px;
  box-sizing: border-box;
}
@media only screen and (min-width: 426px) {
  body {
    padding: 20px;
  }
}

h2,
p {
  margin: 0;
}

.cardOne {
  width: auto;
  height: auto;
  border-radius: 24px;
  background-image: radial-gradient(farthest-corner at 50% 0%, #202831, #212932, #1e2530, #1b232e, #1a222d, #171e27);
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: hsl(0deg, 0%, 100%);
}
@media only screen and (min-width: 426px) {
  .cardOne {
    width: 300px;
    padding: 20px;
  }
}
.cardOne__starBlock {
  height: 50px;
  margin-bottom: 20px;
}
.cardOne__star {
  background-color: hsl(213deg, 19%, 18%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 426px) {
  .cardOne__star {
    width: 40px;
    height: 40px;
  }
}
.cardOne__star img {
  width: 20px;
  height: 20px;
}
@media only screen and (min-width: 426px) {
  .cardOne__star img {
    width: 15px;
    height: 15px;
  }
}
.cardOne__title {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 12px;
}
@media only screen and (min-width: 426px) {
  .cardOne__title {
    font-weight: 400;
  }
}
.cardOne__description {
  font-size: 1em;
  color: hsl(216deg, 12%, 54%);
  margin-bottom: 20px;
}
@media only screen and (min-width: 426px) {
  .cardOne__description {
    font-size: 0.8em;
  }
}
.cardOne__rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.cardOne__rating__element {
  width: 45px;
  height: 45px;
  font-weight: 700;
  border-radius: 50%;
  background-color: hsl(213deg, 19%, 18%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(216deg, 12%, 54%);
  cursor: pointer;
}
.cardOne__rating__element:focus {
  background-color: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
}
.cardOne__rating__element:hover {
  background-color: hsl(217deg, 12%, 63%);
  color: hsl(0deg, 0%, 100%);
}
.cardOne__rating__active {
  background-color: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
}
.cardOne__button {
  font-family: "Overpass", sans-serif;
  width: 100%;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
  background-color: hsl(25deg, 97%, 53%);
  padding: 15px;
  border-radius: 25px;
  border: 0;
  letter-spacing: 1px;
}
.cardOne__button:disabled {
  cursor: not-allowed;
}
.cardOne__button:hover:not([disabled]) {
  cursor: pointer;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(25deg, 97%, 53%);
}
@media only screen and (min-width: 426px) {
  .cardOne__button {
    padding: 10px;
    border-radius: 20px;
  }
}

.cardTwo {
  width: auto;
  height: auto;
  border-radius: 24px;
  background-image: radial-gradient(farthest-corner at 50% 0%, #202831, #212932, #1e2530, #1b232e, #1a222d, #171e27);
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: hsl(0deg, 0%, 100%);
}
@media only screen and (min-width: 426px) {
  .cardTwo {
    width: 300px;
    padding: 20px;
  }
}
.cardTwo__img {
  width: 140px;
  height: auto;
  margin-bottom: 20px;
}
.cardTwo__selection {
  background-color: hsl(213deg, 19%, 18%);
  padding: 6px 12px;
  font-size: 0.8em;
  border-radius: 25px;
  margin: 0;
  line-height: 16px;
  margin-bottom: 28px;
  color: hsl(25deg, 97%, 53%);
}
.cardTwo__title {
  font-size: 1.4em;
  margin-bottom: 14px;
  letter-spacing: 0.7px;
}
.cardTwo__note {
  font-size: 0.8em;
  text-align: center;
  color: hsl(216deg, 12%, 54%);
  font-weight: 700;
  line-height: 22px;
  word-spacing: 1px;
}/*# sourceMappingURL=index.css.map */